
.canvas-pixel-draw {
  image-rendering: pixelated;

  &.select {
    &.over-selection-move-selection {
      cursor: move;
    }

    &.over-selection-move-content {
      cursor: pointer;
    }

    cursor: crosshair;
  }

  &.brush {
    cursor: none;
  }
}