
:root {
  --color-indicator-padding: 2px;
}

.color-indicator {
  display: inline-block;
  line-height: 1;
  text-align: center;
  white-space: nowrap;
  vertical-align: baseline;
  border-radius: 100%;
  margin: 0 0.5rem;
  width: 1rem;
  height: 1rem;
  padding: var(--color-indicator-padding);

  > span {
    display: inline-block;
    line-height: 1;
    border-radius: 100%;
    width: calc(1rem - var(--color-indicator-padding) * 2);
    height: calc(1rem - var(--color-indicator-padding) * 2);
  }
}