@use 'sass:color';


[data-bs-theme='dark'],
:root {
  --node-total-border-width: calc(var(--bs-border-width) * 2);
  --node-card-margin: 5px;
  --node-img-gap: 12px;
  --columns-per-card: 3;
  --node-header-padding: 5px calc(var(--node-card-margin) + 0.5rem) 0;
}

.node {
  flex-shrink: 0;
  min-width: 150px;
  --node-total-image-width: 150px;
  --node-image-count: 0;

  width: calc(
          (var(--node-img-width) * var(--node-img-scale)) * var(--columns-per-card)
          + var(--node-img-gap) * (var(--columns-per-card) - 1)
          + var(--node-img-gap) * 2
          + var(--node-card-margin) * 2
          + var(--node-total-border-width)
  );

  .node-header {
    padding: var(--node-header-padding);
  }
}

.card-step,
.card-fork,
.card-branch {
  margin: var(--node-card-margin);

  &.invalid-input-type {
    border-left-color: var(--bs-danger);
  }

  .section {
    padding: var(--bs-card-cap-padding-y) var(--bs-card-cap-padding-x);

    &.section-divider,
    &:not(:last-child) {
      border-bottom: 1px solid rgba(#fff, 0.1);
    }

    &:last-child {
      padding-bottom: var(--bs-card-cap-padding-y);
    }

    .section-heading-container {
      padding: 0 0 var(--bs-card-cap-padding-y) 0;
    }

    .section-heading-text {
      color: #{rgba(color.mix($primary, #fff, 50%), 0.75)};
      text-transform: uppercase;
      font-size: 0.75rem;
      font-weight: 500;
    }

    .section-heading {
      @extend .section-heading-container;
      @extend .section-heading-text;
    }
  }
}

.card-step,
.card-fork {
  > .card-body,
  > .auto-animate > .card-body,
  > .auto-animate > .auto-animate > .card-body {
    display: grid;

    gap: var(--node-img-gap);
    --width: calc(var(--node-img-width) * var(--node-img-scale));
    grid-template-columns: repeat(var(--columns-per-card), var(--width));

    padding: var(--node-img-gap);
  }

  > .card-footer,
  > .auto-animate > .card-footer,
  > .auto-animate > .auto-animate > .card-footer {
    padding: 0;

    .form-label {
      display: block;
    }

    // flat version of cap color without alpha
    --bs-card-cap-bg: #{$card-cap-bg-flat};

    .nav-tabs {
      padding: 0.5rem 0.5rem 0;

      --bs-nav-link-padding-y: calc(0.5rem * 0.66);
      --bs-nav-link-padding-x: calc(1rem * 0.66);

      .nav-link.active,
      .nav-item.show .nav-link {
        background: linear-gradient(
                        0deg,
                        rgba(var(--bs-primary-rgb), 0) 0%,
                        rgba(var(--bs-primary-rgb), 0.15) 100%
        );
        border-bottom-color: var(--bs-card-cap-bg);
      }
    }
  }

  .node-img-container {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
  }
}

.branch {
  .branch-header {
    padding: var(--node-header-padding);
  }
}

.card-branch {
  background: rgba(255, 255, 255, 0.015);
  margin-bottom: 1rem;

  > .card-header {
    background: rgba(255, 255, 255, 0.03);
  }

  > .card-body,
  > .auto-animate > .card-body,
  > .auto-animate > .auto-animate > .card-body {
    padding: var(--node-card-margin);
  }

  > .card-footer,
  > .auto-animate > .card-footer,
  > .auto-animate > .auto-animate > .card-footer {
    padding: var(--node-card-margin);
  }
}

.branch-child-nodes {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  gap: 0.5rem;
  min-height: 100px;

  > .processor-branch {
    width: 100%;
  }
}

.node-img-container {
  width: calc(var(--node-img-width) * var(--node-img-scale));
  min-width: calc(var(--node-img-width) * var(--node-img-scale));
  max-width: calc(var(--node-img-width) * var(--node-img-scale));

  .node-img {
    width: 100%;
    height: auto;
    display: block;
  }

  .node-img-label {
    font-weight: 200;
    color: rgba(#fff, 0.75);
  }
}