.range-band-container {
  --bs-track-height: #{$form-range-track-height}; // 0.25rem
  --bs-thumb-size: #{$form-range-thumb-width}; // 1rem (matches Bootstrap default)

  .slider-container {
    height: var(--bs-thumb-size);
    display: flex;
    align-items: center;
    margin-top: 3px;
  }

  .track {
    flex: 1;
    height: var(--bs-track-height);
    background-color: $form-range-track-bg;
    border-radius: var(--bs-track-height);
    position: relative;
  }

  .filled {
    height: 100%;
    background-color: $primary; // Primary blue filled track
    border-radius: var(--bs-track-height);
    top: 0;
    left: 0;
    transition: all 0.1s ease;
  }

  .filled.no-transition {
    transition: none;
  }

  .thumb {
    width: var(--bs-thumb-size);
    height: var(--bs-thumb-size);
    background-color: $primary;
    border-radius: 50%;
    position: absolute;
    top: 50%;
    cursor: pointer;
    user-select: none;
    z-index: 2;
    will-change: transform;
    transform: translate(-50%, -50%);

    &:active {
      cursor: pointer;
    }
  }

  .min-thumb {
    z-index: 3;
    //transform: translate(0, -50%);
  }

  .max-thumb {
    z-index: 2;
    //transform: translate(-100%, -50%);

  }

  .thumb-container {
    margin: 0 0.5rem;
    position: relative;
    height: var(--bs-track-height);
  }

  /* Ensure number inputs look consistent */
  .min-input, .max-input {
    width: 100px;
  }
}

.range-label {
  font-size: $label-font-size;
}

.slider-wrapper {
  height: 1.5rem;
}

.range-band-container,
.range-container {
  &:not(:last-child) {
    margin-bottom: var(--form-row-margin-bottom);
  }
}
