@use 'sass:color';

[data-bs-theme='dark'],
:root {

  --node-total-border-width: calc(var(--bs-border-width) * 2);
  --node-card-margin: 5px;
  --node-img-gap: 12px;
  --columns-per-card: 3;
}

.after-nodes-container {
  position: relative;
  padding-top: var(--node-card-margin);
  padding-right: 20px;
}

.fork-branch-header-spacer {
  padding: 5px 0 0 0;
}

.card {
  --bs-card-border-color: rgba(255, 255, 255, 0.09);

  &.card-fork-branch {
    background: rgba(255, 255, 255, 0.015);
    margin-bottom: 1rem;

    > .card-header {
      background: rgba(255, 255, 255, 0.03);
    }

    > .card-body,
    > .collapse > .card-body {
      padding: var(--node-card-margin);
    }
  }
}

.branch {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  gap: 0.5rem;
  min-height: 100px;

  > .processor-branch {
    width: 100%;
  }
}

.empty-branch-placeholder {
  border: 1px solid rgba(255, 255, 255, 0.09);
  background: rgba(255, 255, 255, 0.015);
  border-radius: 4px;
  padding: 0.5rem;
  min-height: 100px;
  width: 100%;
}

.node {
  flex-shrink: 0;
  min-width: 150px;
  --node-total-image-width: 150px;
  --node-image-count: 0;
  user-select: auto;

  width: calc(
          (var(--node-img-width) * var(--node-img-scale)) * var(--columns-per-card)
          + var(--node-img-gap) * (var(--columns-per-card) - 1)
          + var(--node-img-gap) * 2
          + var(--node-card-margin) * 2
          + var(--node-total-border-width)
  );

  &.input-invalid {
    border-left-color: var(--bs-danger);
  }

  .node-header {
    padding: 5px calc(var(--node-card-margin) + 0.5rem) 0;

    .execution-time {
      font-size: 0.875em;
      opacity: 0.6;
    }
  }
}

.card-node {
  margin: var(--node-card-margin);

  &.invalid-input-type {
    border-left-color: var(--bs-danger);
  }

  .card-footer {
    padding: 0;

    .form-label {
      display: block;
    }

    // flat version of cap color without alpha
    --bs-card-cap-bg: #{$card-cap-bg-flat};

    .nav-tabs {
      padding: 0.5rem 0.5rem 0;

      --bs-nav-link-padding-y: calc(0.5rem * 0.66);
      --bs-nav-link-padding-x: calc(1rem * 0.66);

      .nav-link.active,
      .nav-item.show .nav-link {
        background: linear-gradient(
                        0deg,
                        rgba(var(--bs-primary-rgb), 0) 0%,
                        rgba(var(--bs-primary-rgb), 0.15) 100%
        );
        border-bottom-color: var(--bs-card-cap-bg);
      }
    }
  }

  .section {
    padding: var(--bs-card-cap-padding-y) var(--bs-card-cap-padding-x);

    &:last-child {
      padding-bottom: var(--bs-card-cap-padding-y);
    }

    .section-heading-container {
      padding: 0 0 var(--bs-card-cap-padding-y) 0;
    }

    .section-heading-text {
      color: #{rgba(color.mix($primary, #fff, 50%), 0.75)};
      text-transform: uppercase;
      font-size: 0.75rem;
      font-weight: 500;
    }

    .section-heading {
      @extend .section-heading-container;
      @extend .section-heading-text;
    }
  }

  > .collapse > .card-body {
    display: grid;

    gap: var(--node-img-gap);
    --width: calc(var(--node-img-width) * var(--node-img-scale));
    grid-template-columns: repeat(var(--columns-per-card), var(--width));

    padding: var(--node-img-gap);

    .node-img-container {
      width: calc(var(--node-img-width) * var(--node-img-scale));
      min-width: calc(var(--node-img-width) * var(--node-img-scale));
      max-width: calc(var(--node-img-width) * var(--node-img-scale));
      display: flex;
      flex-direction: column;
      gap: 0.5rem;

      .node-img {
        width: 100%;
        height: auto;
        display: block;
      }

      .node-img-label {
        font-weight: 200;
        color: rgba(#fff, 0.75);
      }
    }


  }
}