[data-bs-theme='dark'],
:root {
  --step-padding: 10px;
  --step-padding-per-image: calc(var(--step-padding));
  --step-total-border-width: calc(var(--bs-border-width) * 2);
  --step-card-body-padding-x: calc(var(--step-padding) * 0.5);
  --step-card-body-padding-y: var(--step-padding);
  --step-card-margin: 5px;
}

.steps-container {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  gap: 0.5rem;
}

.after-steps-container {
  position: relative;
  padding-top: var(--step-card-margin);
  padding-right: 20px;
}

.step {
  flex-shrink: 0;
  min-width: 150px;
  --step-total-image-width: 150px;
  --stem-image-count: 0;
  user-select: auto;

  width: calc(
          var(--stem-image-count) * var(--step-padding-per-image)
          + var(--step-total-border-width)
          + var(--step-card-body-padding-x) * 2
          + var(--step-total-image-width) * var(--step-img-scale)
          + var(--step-card-margin) * 2
  );

  // preview of item in drop zone
  &.drag-placeholder {
    opacity: 0.33;
  }

  // drop preview
  &.drop-zone {
    border-radius: calc(var(--bs-border-radius) + var(--step-card-margin));
    background-color: #f0f9ff;

    .step-header {
      color: #000;
    }
  }

  &.input-invalid {
    border-left-color: var(--bs-danger);
  }

  &.step-dragging {
    opacity: 1 !important;
    cursor: grabbing !important;
    box-shadow: 0 10px 25px -5px rgba(0, 0, 0, 0.1),
    0 8px 10px -6px rgba(0, 0, 0, 0.1);
  }

  .step-header {
    padding: 0 calc(var(--step-card-margin) + 0.5rem)
  }
}


.card-step {
  margin: var(--step-card-margin);

  &.invalid-input-type {
    border-left-color: var(--bs-danger);
    //border-left-width: 5px;
  }

  > .card-body {
    padding: var(--step-card-body-padding-y) var(--step-card-body-padding-x);
    white-space: nowrap;
  }

  .card {
    .card-body,
    .card-header,
    .card-footer {
      padding: 5px;
    }
  }

  .card-footer {
    .form-label {
      display: block;
    }

    // flat version of cap color without alpha
    --bs-card-cap-bg: rgb(39, 43, 47);

    &.card-footer-tabs {
      padding: 0.5rem 0 0 0;

      .nav-tabs {
        padding: 0 0.5rem;

        --bs-nav-link-padding-y: calc(0.5rem * 0.66);
        --bs-nav-link-padding-x: calc(1rem * 0.66);

        .nav-link.active,
        .nav-item.show .nav-link {
          background: linear-gradient(
                          0deg,
                          rgba(var(--bs-primary-rgb), 0) 0%,
                          rgba(var(--bs-primary-rgb), 0.15) 100%
          );
          border-bottom-color: var(--bs-card-cap-bg);
        }
      }

      .step-validation-errors-container {
        padding: 0.5rem;
      }
    }
  }
}

.step-img {
  margin: 0 calc(var(--step-padding) * 0.5);
  display: inline-block;
}

.step-header-buttons .dropdown > .btn {
  // no idea why this dropdown doesn't set padding correctly for sm
  --bs-btn-padding-x: 0.5rem;
}


