@use 'sass:color';

[data-bs-theme='dark'],
:root {
  --step-padding: 10px;
  --step-padding-per-image: calc(var(--step-padding));
  --step-total-border-width: calc(var(--bs-border-width) * 2);
  --step-card-body-padding-x: calc(var(--step-padding) * 0.5);
  --step-card-body-padding-y: var(--step-padding);
  --step-card-margin: 5px;
}

.steps-container {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  gap: 0.5rem;
}

.after-steps-container {
  position: relative;
  padding-top: var(--step-card-margin);
  padding-right: 20px;
}

.fork-branch-header-spacer {
  padding: 5px 0 0 0;
}

.card {
  --bs-card-border-color: rgba(255, 255, 255, 0.09);

  &.card-fork-branch {
    background: rgba(255, 255, 255, 0.015);
    margin-bottom: 1rem;

    > .card-header {
      background: rgba(255, 255, 255, 0.03);
    }

    > .card-body {
      padding: var(--step-card-margin);
    }
  }
}

.branch {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  gap: 0.5rem;
  min-height: 100px;

  > .processor-branch {
    width: 100%;
  }
}

.empty-branch-placeholder {
  border: 1px solid rgba(255, 255, 255, 0.09);
  background: rgba(255, 255, 255, 0.015);
  border-radius: 4px;
  padding: 0.5rem;
  min-height: 100px;
  width: 100%;
}

.step {
  flex-shrink: 0;
  min-width: 150px;
  --step-total-image-width: 150px;
  --stem-image-count: 0;
  user-select: auto;

  width: calc(
          var(--stem-image-count) * var(--step-padding-per-image)
          + var(--step-total-border-width)
          + var(--step-card-body-padding-x) * 2
          + var(--step-total-image-width) * var(--step-img-scale)
          + var(--step-card-margin) * 2
  );

  // preview of item in drop zone
  &.drag-placeholder {
    opacity: 0.33;
  }

  // drop preview
  &.drop-zone {
    border-radius: calc(var(--bs-border-radius));
    background-color: #f0f9ff;

    .step-header {
      color: #000;
    }
  }

  &.input-invalid {
    border-left-color: var(--bs-danger);
  }

  &.step-dragging {
    opacity: 1 !important;
    cursor: grabbing !important;
    box-shadow: 0 10px 25px -5px rgba(0, 0, 0, 0.1),
    0 8px 10px -6px rgba(0, 0, 0, 0.1);
  }

  .step-header {
    padding: 5px calc(var(--step-card-margin) + 0.5rem) 0;

    .execution-time {
      font-size: 0.875em;
      opacity: 0.6;
    }
  }
}

.card-step {
  margin: var(--step-card-margin);

  &.invalid-input-type {
    border-left-color: var(--bs-danger);
    //border-left-width: 5px;
  }

  > .card-body {
    padding: var(--step-card-body-padding-y) var(--step-card-body-padding-x);
    white-space: nowrap;
  }

  .card {
    .card-body,
    .card-header,
    .card-footer {
      padding: 5px;
    }
  }

  .card-footer {
    padding: 0;

    .form-label {
      display: block;
    }

    // flat version of cap color without alpha
    --bs-card-cap-bg: $card-cap-bg-flat;

    .nav-tabs {
      padding: 0.5rem 0.5rem 0;

      --bs-nav-link-padding-y: calc(0.5rem * 0.66);
      --bs-nav-link-padding-x: calc(1rem * 0.66);

      .nav-link.active,
      .nav-item.show .nav-link {
        background: linear-gradient(
                        0deg,
                        rgba(var(--bs-primary-rgb), 0) 0%,
                        rgba(var(--bs-primary-rgb), 0.15) 100%
        );
        border-bottom-color: var(--bs-card-cap-bg);
      }

    }
  }

  .section {
    padding: var(--bs-card-cap-padding-y) var(--bs-card-cap-padding-x);

    &:last-child {
      padding-bottom: var(--bs-card-cap-padding-y);
    }

    &:not(:first-child) {
      border-top: var(--bs-card-border-width) solid var(--bs-card-border-color);
    }

    .section-heading-container {
      padding: 0 0 var(--bs-card-cap-padding-y) 0;
    }

    .section-heading-text {
      color: #{rgba(color.mix($primary, #fff, 50%), 0.75)};
      text-transform: uppercase;
      font-size: 0.75rem;
      font-weight: 500;
    }

    .section-heading {
      @extend .section-heading-container;
      @extend .section-heading-text;
    }
  }
}

.step-img {
  margin: 0 calc(var(--step-padding) * 0.5);
  display: inline-block;
}