$border-radius: 6px;
$enable-shadows: true;
@import '../../node_modules/bootstrap/scss/functions';

//$popover-bg: #fff;
$accordion-icon-color-dark: #fff;
$accordion-icon-active-color-dark: #fff;
$accordion-icon-color: #fff;
$accordion-icon-active-color: #fff;

$font-size-base: 0.9rem;

$dropdown-border-width: 1px;
$border-color-translucent: rgba(#000, 0.25);

//$dropdown-header-padding-y: .2rem;
//$dropdown-divider-margin-y: .2rem;
$table-bg: transparent;

$spacer: 1rem;

$card-spacer-y: $spacer;
$card-spacer-x: $spacer;

$card-cap-padding-x: $card-spacer-y * .5;
$card-cap-padding-y: $card-spacer-y * .5;

$enable-shadows: true;

$toast-background-color: rgba(var(--bs-body-bg-rgb), 1);

//$warning: #a82100;

$label-font-size: 0.875em;

$card-cap-bg-flat: rgb(39, 43, 47);

$popover-max-width: 500px;
@import '../../node_modules/bootstrap/scss/variables';
