$border-radius: 6px;
$enable-shadows: true;
@import '../../node_modules/bootstrap/scss/functions';

$popover-bg: #fff;
$accordion-icon-color-dark: #fff;
$accordion-icon-active-color-dark: #fff;

$font-size-base: 0.9rem;

$dropdown-border-width: 1px;
$border-color-translucent: rgba(#000, 0.25);

//$dropdown-header-padding-y: .2rem;
//$dropdown-divider-margin-y: .2rem;
$table-bg: transparent;

$spacer: 1rem;

$card-spacer-y: $spacer;
$card-spacer-x: $spacer;

$card-cap-padding-x: $card-spacer-y * .5;
$card-cap-padding-y: $card-spacer-y * .5;

$enable-shadows: true;

$toast-background-color: rgba(var(--bs-body-bg-rgb), 1);

$navbar-dark-color: #d14d27;
$transition-fade: opacity .05s linear;

@import '../../node_modules/bootstrap/scss/bootstrap';
@import '../../node_modules/bootstrap-vue-next/src/styles/styles';
@import 'bootstrap/buttons';

@import 'fonts/icons';
@import 'step';
@import 'color-indicator';
@import 'range-band-slider';

body {
  background: #1b1b1b;
}

.form-label, .form-check-label {
  font-size: 0.875em;
}


.overflow {
  overflow-x: auto;
  overflow-y: auto;
  white-space: nowrap;
}

.processor-container {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  gap: 0.5rem;
  min-width: 100%;
}