@import 'variables';

@import '../../node_modules/bootstrap/scss/bootstrap';
@import '../../node_modules/bootstrap-vue-next/src/styles/styles';
@import 'bootstrap/buttons';
@import 'bootstrap/popover';
@import 'bootstrap/collapse';
@import 'bootstrap/card';

[data-bs-theme='dark'],
:root {
  --form-row-margin-bottom: #{$card-cap-padding-y};
  --canvas-paint-sidebar-width: 100px;
  --navbar-height: 55px;
  --sidebar-transition-time: 150ms;
}

@import 'fonts/icons';
@import 'node';
@import 'color-indicator';
@import 'range-band-slider';

body {
  background: #1b1b1b;
  padding-top: 80px;
}

.form-label, .form-check-label {
  font-size: $label-font-size;
}

.form-check-item {
  margin-bottom: var(--form-row-margin-bottom);
}

.overflow {
  overflow-x: auto;
  overflow-y: auto;
  white-space: nowrap;

  position: fixed;
  top: 55px;
  left: 0;
  right: 0;
  bottom: 0;
  padding-top: 1rem;
  transition: left var(--sidebar-transition-time) ease-in-out;
  z-index: 10;

  &.tool-sidebar-visible {
    left: var(--canvas-paint-sidebar-width);
  }
}

.processor-container {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  gap: 0.5rem;
  min-width: 100%;

  padding-left: 1rem;

  // needed for padding on the right
  // when scrolling right
  &::after {
    content: '';
    display: block;
    min-width: 1rem;
    height: 1px;
  }
}

.processor-branch {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  gap: 0.5rem;
}

.badge-dark {
  background: rgba(27, 31, 34, 0.8);
}

.tabs-settings-body-content {
  padding: 1rem 0.5rem 0.5rem;
}

.add-root-nodes-container {
  position: relative;
  padding-top: var(--node-card-margin);
  padding-right: 20px;
}

.vr {
  opacity: 0;
}