@use 'sass:list';
@use 'sass:string';

// must be in alphabetical order!
$icons: (
        'add',
        'casino',
        'content_copy',
        'delete',
        'edit',
        'settings_backup_restore',
        'timer',
);

$icon-names: '';
@each $icon in $icons {
  @if $icon-names == '' {
    $icon-names: $icon;
  } @else {
    $icon-names: $icon-names + ',' + $icon;
  }
}

@import url('https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,400,1,1&icon_names=#{$icon-names}');

.material-symbols-outlined {
  vertical-align: -.2em;
  font-size: 1rem;

  font-variation-settings: 'FILL' 1,
  'wght' 400,
  'GRAD' 1,
  'opsz' 24
}