//@import url("https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,400,1,1&icon_names=add,block,check,content_copy,contrast,copy_all,dark_mode,delete,docs,file_open,input,keyboard_double_arrow_down,keyboard_double_arrow_up,light_mode,lock,place_item,print,remove,shield_question,warning");
@import url("https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,400,1,1&icon_names=delete,edit");

.material-symbols-outlined {
  vertical-align: -.2em;
  font-size: 1.2rem;

  font-variation-settings: 'FILL' 1,
  'wght' 400,
  'GRAD' 1,
  'opsz' 24
}

.btn-sm .material-symbols-outlined {
  vertical-align: -.3em;
}
